* {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	height: 1px;
	/* Set the hr color */
	color: #333;  /* old IE */
	background-color: #333;  /* Modern Browsers */
}

#container {
	/* border: solid 2px #000; */
	position: relative;
}

#vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#back-logo {
	width: 18%;
	margin-top: 2%;
	margin-left: 2%;
}

#abs-left {
	position: absolute;
	left: 0;
}

#abs-right {
	position: absolute;
	right: 0;
}

.header {
	padding: 30px;
	/* background-color: bisque; */
	display: flex;
	height: 100%;
	align-content: center;
}

.header-content {
	width: 97%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	/* background-color: blue; */
}

.apu_logo {
	width: 250px;
}

.header-right {
	background-color: lightgray;
	/* width: 100%; */
}

.reglog {
	position: absolute;
	right: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.reglog a {
	margin: 10px;
	padding: 10px;
	/* border: solid 2px #000; */
	text-decoration: none;
	color: black;
	border-radius: 6px;
	font-size: 23px;
}

.top-nav-bar {
	padding: 15px 5px 15px 5%;
	background-color: rgb(12, 48, 74);
	display: flex;
}

.top-nav-bar ul {
	display: inline-flex;
	list-style: none;
}

.top-nav-bar ul li {
	margin-right: 25px;
}

.top-nav-bar a {
	/* background-color: white; */
	margin-right: 5px;
	font-size: large;
	text-decoration: none;
	color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav-bar a:hover {
	color: rgb(45, 129, 188);
	transition: color 200ms ease, background-color 200ms ease;
}

.wrapper {
	max-width: 1536px;
	height: 368px;
	width: 100%;
	position: relative;
	margin-inline: auto;
	overflow: hidden;
	mask-image: linear-gradient(
		to right,
		rgba(0,0,0,0),
		rgba(0,0,0,1) 10%,
		rgba(0,0,0,1) 90%,
		rgba(0,0,0,0)
	);
}

.wrapper:hover img{
	animation-play-state: paused;
}

.wrapper img{
	position: absolute;
    max-width: 1536px;
	left: calc(1100px*3);
	animation-name: carousel;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes carousel {
	to {
		left: -1536px;
	}
}
.item1 {
	animation-delay: calc(30s/3 * (3 - 1) * -1);
	/* display: none; */
}

.item2 {
	animation-delay: calc(30s/3 * (3 - 2) * -1);
	/* display: none; */
}

.item3 {
	animation-delay: calc(30s/3 * (3 - 3) * -1);
	/* display: none; */
}


.content {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	min-height: 100vh;
	background-color: rgb(245,245,245);
}

.content p {
	text-align: justify center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0%;
}

footer {
	height: auto;
	padding: 20px;
	margin-top: 0%;
	background-color: rgb(12, 48, 74);
	color: white;
}

footer ul {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	list-style: none;
}

footer ul h3 {
	margin-left: 30px;
}

footer ul li {
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}

footer ul li a {
	text-decoration: none;
	color: white;
}

.floating {
	border-radius: 5px;
	box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.1);
	background-color: white;
	height: 80%;
	width: 75%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

.float-left {
	border-radius: 5px 0px 0px 5px;
	width: 65%;
	height: 100%;
}

.float-right {
	border-radius: 0px 5px 5px 0px;
	background-color: rgba(211, 211, 211, 0.5);
	opacity: 1;
	text-align: center;
	width: 35%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.float-right h1 {
	margin-top: 10%;
	margin-bottom: 10%;
}

#register-title {
	margin-top: 7%;
	margin-bottom: 7%;
}

.float-right form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.float-right form div {
	font-size: 20px;
	margin-bottom: 5%;
}

.pass {
	padding-bottom: 10%;
}

.pass div {
	width: 100%;
}

.pass div a {
	text-decoration: none;
	color: black;
	font-size: small;
}

input[type=text], input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	outline-width: 0;
  }

.submit {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: transform .4s;
	font-size: medium;
}

.submit:hover {
	background-color: #56bd58;
}

.login-page-register-button {
	background-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: medium;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	outline-width: 0;
}

.login-page-register-button:hover {
	background-color: rgb(71, 71, 71);
}

.fname {
	width: 100%;
	display: flex;
	position: relative;
}

.fname input {
	width: 95%;
	margin-bottom: -5%;
}

.firstname {
	margin-right: -5px;
}

.lastname {
	margin-right: -9px;
}

.forget-pass-title {
	text-wrap: nowrap;
	left: 40%;
	right: 40%;
	margin-top: 3%;
	position: absolute;
}

.enter-email-layout {
	width: 90%;
	left: 5%;
	top: 40%;
	position: absolute;
}

.enter-email-layout a {
	text-decoration: none;
	color: black;
}

.enter-email-layout div input[type=submit] {
	width: 30%;
	margin-top: 3%;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
}

.enter-email-layout div input[type=submit]:hover {
	background-color: rgb(71, 71, 71);
}

.enter-email label {
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
}

.enter-email input {
	width: 50%;
}

.product-page-nav {
	height: 30px;
}

.product-page-nav ul {
	list-style: none;
	display: flex;
	position: absolute;
	top: 20%;
	left: 3.7%;
}

.product-page-nav ul li {
	margin-left: 10px;
}

.product-page-nav ul a {
	text-decoration: none;
	color: black;
}

.item-list-preview {
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
}

.product {
	background-color: lightgreen;
	margin-top: 5%;
	width: 30%;
	height: 70%;
}

.product div {
	border: 1px solid black;
	padding-bottom: 50%;
	display: flex;
	width: 100%;
	height: 50%;	
}
